// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.
&gpiote {
    status = "okay";
};
&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    mydisplay: mydisplay@27 {
        compatible = "i2c-device";
        status = "okay";
        reg = <0x27>;
    };
};

&pinctrl {
    /omit-if-no-ref/ i2c0_default: i2c0_default {
        group1  {
            psels = <NRF_PSEL(TWIM_SCL, 0, 5)>,
                    <NRF_PSEL(TWIM_SDA, 0, 6)>;
        };
    };

    /omit-if-no-ref/ i2c0_sleep: i2c0_sleep {
        group1  {
            psels = <NRF_PSEL(TWIM_SCL, 1, 14)>,
                    <NRF_PSEL(TWIM_SDA, 1, 15)>;
            low-power-enable;
        };
    };
};

/{
    buzzers {
        compatible = "gpio-keys";  /* or just a logical container node */

        buzzer1: buzzer1 {
            gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
        };
        buzzer2: buzzer2 {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
        };
        buzzer3: buzzer3 {
            gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
        };
        buzzer4: buzzer4 {
            gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
        };
    };
};
&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 13)>,
                    <NRF_PSEL(SPIM_MISO, 1, 14)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 13)>,
                    <NRF_PSEL(SPIM_MISO, 1, 14)>;
            low-power-enable;
        };
    };
};

&spi1 {
    compatible = "nordic,nrf-spi";
    status = "okay";
    cs-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    w5500: w5500@0 {
        compatible = "wiznet,w5500";
        reg = <0>;
        spi-max-frequency = <1000000>;
        int-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
        local-mac-address = [ 00 08 DC 01 02 03  ];
    };
};